body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 auto;
}

small {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.header {
  display: flex;
  height: 50px;
  padding: 15px 24px;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  width: 308px;
  margin: 0;
}

.navbar a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}

.nav-items { 
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.sns {
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  border-radius: 50%;
}

.sns a {
  line-height: 37px;
}

.sns img {
  vertical-align: bottom;
}

/* main-------------------------------------------------------------- */

main {
  max-width: 1280px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  /* background-color: gray; */
}

/* hero-wrapper------------------------------- */

.hero-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
  /* max-height: 680px; */
  /* height: 100%; */
}

.hero-left {
  width: 500px;
  display: inline-block;
  background-color: #eff2f5;
  padding: 50px 10px;
  border-radius: 24px;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}

.hero-left p {
  margin: 0;
  line-height: 22px;
  color: #0071bc;
  font-weight: bold;
}

.hero-left h1 {
  margin: 0;
  padding: 0 60px;
  font-size: 60px;
  line-height: 80px;
  text-align: start;
}

.hero-right {
  display: inline-block;
  max-width: 1280px;
  min-width: 396px;
  /* max-height: 680px; */
  width: 100%;
  height: 100%;
  margin-left: -125px;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: calc(50% - 50vw);
}

.hero-right img {
  width: 100%;
  max-height: 680px;
  height: 100%;
  border-radius: 80px 0 0 80px;
  object-fit: cover;
}

.hero-wrapper small {
  position: absolute;
  bottom: 24px;
  left: 42px;
  z-index: 3;
}

/* about-wrapper------------------------------------------- */

.about-wrapper {
  margin: 100px auto;
  max-width: 984px;
  padding: 0 24px;
}

.about-title {
  text-align: center;
}

.about-title h2 {
  margin: 0;
  font-size: 36px;
  line-height: 54px;
}

.about-title p {
  margin: 0;
  font-size: 14px;
  line-height: 25.2px;
  color: #0071bc;
}

.about-content {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-img {
  margin: 0;
  max-width: 472px;
  max-height: 312px;
  width: 50%;
  height: 100%;
  margin-right: 40px;
}

.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
}

.about-text {
  max-width: 472px;
  width: 50%;
  margin: auto;
}

/* line-wrapper------------------------------------------- */
.line-wrapper {
  padding: 0 24px;
}

.line-inner {
  text-align: center;
  margin: 0 auto;
  position: relative;
  max-width: 984px;
  border-radius: 48px;
  background-image: url("assets/img/bg-line.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.line-inner::before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 100%;
  height: 100%;
  border-radius: 48px;
  background-color: rgba(0, 113, 188, 0.9);
}

.line-content {
  position: relative;
  color: #fff;
  padding: 70px 0;
}

.line-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: radial-gradient(#fff 60%, rgba(255, 255, 255, 0) 40%);
}

.line-title h1 {
  font-size: 36px;
  margin: 0;
}

.line-content p {
  margin: 24px 0;
  font-size: 14px;
  letter-spacing: 1px;
}

.line-button {
  margin: 0 auto;
  padding: 12px 0;
  max-width: 320px;
  border-radius: 98px;
  background-color: #fff;
}

.line-button a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  position: relative;
}

.line-button p {
  margin: 0;
  display: inline-block;
}

.line-button img {
  position: absolute;
  display: inline-block;
  width: 12.5px;
  height: 12.5px;
  right: 20px;
  top: 6px;
}

/* footer---------------------------------------------------------------- */

.footer {
  margin-top: 80px;
  text-align: center;
}

.footer-top {
  padding: 50px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.footer-img img {
  margin-bottom: 20px;
}

.official-link a {
  font-size: 14px;
  text-decoration: none;
  color: #666;
}

.official-link img {
  width: 12.5px;
  height: 12.5px;
  /* vertical-align: bottom; */
  margin-left: 5px;
}

.footer-top .sns-items {
  width: 110px;
  margin: 30px auto 0 auto;
  padding: 0%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  list-style: none;
}

.footer-bottom {
  margin: 35px 0 30px 0;
}

.footer-bottom small {
  font-size: 10px;
  color: #666;
}
