@use "../global/variables" as v;
@use "../global/mixin" as m;


.calendar {

  &__close {
    position: absolute;
    left: 32px;
    top: 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: v.$lightgray;
    cursor: pointer;
    z-index: 150;

    @include m.mq(sp) {
      top: 20px;
      left: 20px;
    }

    & i {
      position: absolute;
      top: 50%;
      left: 50%;
      color: v.$darkgray;
      font-size: 1.2rem;
      transform: translate(-50%, -50%);
    }
  }

  & table {
    border-collapse: collapse;
    margin: 0 auto;
  }

  & th {
    font-size: 0.8rem;
    color: v.$lightblue;
  }
  & th, td {
    height: 52px;
    width: 52px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 52px;
    text-align: center;

    @include m.mq(sp) {
      height: 44px;
      width: 44px;
      line-height: 44px;
      font-size: 1rem;
    }
  }

  & td.disabled {
      color: #ccc;
  }

  &__move-page {
    display: flex;
    gap: 16px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    @include m.mq(sp) {
      font-size: 14px;
    }
  }

  &__date {
    cursor: pointer;
  }

  &__previous {
    position: relative;
    border: none;
    top: -4px;
    cursor: pointer;

    &::before {
      content: '';
      width: 7px;
      height: 7px;
      border-top: solid 2px v.$blue;
      border-right: solid 2px v.$blue;
      position: absolute;
      transform: rotate(-135deg);
    }
  }

  &__next {
    position: relative;
    border: none;
    top: -4px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: 0px;
      width: 7px;
      height: 7px;
      border-top: solid 2px v.$blue;
      border-right: solid 2px v.$blue;
      transform: rotate(45deg);
    }
  }

  &__button {
    margin: 0 auto;
    padding:15px 60px;
    font-size: 1.2rem;
    border-radius: 2rem;
  }
}