@use "../global/variables" as v;

.header {
  background-color: v.$white;

  &__inner {
    display: flex;
    margin: 0 auto;
    padding: 12px 20px;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    background-color: v.$white;
  }

  &__left {
    display: flex;
    gap: 16px;
  }

  &__logo {
    height: 24px;

    & img {
      height: 100%;
    }
  }

  & span {
    font-size: 12px;
    line-height: 24px;
    color: v.$lightblue;
  }

  &__button {
    padding: 12px 48px;
  }
}