@use "../global/variables" as v;
@use "../global/mixin" as m;

.header {
  position: fixed;
  width: 100vw;
  background-color: v.$white;
  height: 80px;
  z-index: 100;

  @include m.mq(sp) {
    height: 56px;
  }

  &__inner {
    height: 100%;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.mq(sp) {
      padding: 16px;
      height: auto;
    }
  }

  &__logo {
    @include m.mq(sp) {
      height: 24px;
    }
  }
}

.nav {
  @include m.mq(sp) {
    display: none;
  }

  &__list {
    gap: 40px;
  }

  &__item {
    font-size: 14px;
    font-weight: bold;
  }
}

.hamburger {
  display: none;
  width: 34px;
  height: 14px;
  cursor: pointer;
  z-index: 999;

  @include m.mq(sp) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: v.$black;
    transition: all 0.5s;
  }
}

.hamburger__nav {
  // display: none;
  position: absolute;
  top: 56px;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: v.$white;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;

  @include m.mq(sp) {
    display: block;
  }

  &__items {
    padding: 76px 0 354px;

    & li {
      margin-bottom: 24px;
    }

    & a{
      font-size: 24px;
      line-height: 36px;
      font-weight: bold;
      letter-spacing: 3px;
      color: v.$black;
    }
  }
}

