@use "../global/variables" as v;

.about__learnings {
  padding: 20px;
  // height: 100%;
  width: 50%;
  border-radius: 16px;
  background-color: v.$white;
  box-shadow: v.$box-shadow;

  &__pie-chart {
    aspect-ratio: 1 /1;
    margin: 20px 0;
    // height: 40%;
    background-color: #eeeeee;
  }

  &__items {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
  }

  &__item {
    font-size: 14px;
    line-height: 2rem;

    & span {
      display: inline-block;
      margin-right: 2px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: v.$lightblue;
    }
  }
}

.contents__items {
  flex-direction: column;
  gap: 0;
}