@use "../global/variables" as v;
@use "../global/mixin" as m;

.post {
  display: none;
  position: fixed;
  top: 76px;
  max-width: 846px;
  padding: 54px;
  width: calc(100% - 40px);
  border-radius: 54px;
  background-color: v.$white;
  z-index: 100;

  @include m.mq(tb) {
    padding: 54px 0;
  }

  @include m.mq(sp) {
    padding-bottom: 86px;
    margin-left: -20px;
    width: 100%;
    border-radius: 40px 40px 0 0;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px 40px;

    @include m.mq(tb) {
      gap: 0 20px;
    }

    @include m.mq(sp) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__close {
    position: absolute;
    right: 32px;
    top: 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: v.$lightgray;
    cursor: pointer;

    @include m.mq(sp) {
      top: 20px;
      right: 20px;
    }

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: calc(50% - 1px);
      right: calc(50% - 10px);
      width: 20px;
      height: 2px;
      background-color: v.$black;
      transform: rotate(45deg);
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      top: calc(50% - 1px);
      right: calc(50% - 10px);
      width: 20px;
      height: 2px;
      background-color: v.$black;
      transform: rotate(-45deg);
    }
  }

  &__left {
    max-width: 376px;
    width: 50%;

    @include m.mq(tb) {
      max-width: 336px;
    }

    @include m.mq(sp) {
      max-width: none;
      width: calc(100% - 40px);
    }
  }

  &__right {
    max-width: 376px;
    width: 50%;

    @include m.mq(tb) {
      max-width: 336px;
    }

    @include m.mq(sp) {
      max-width: none;
      width: calc(100% - 40px);
    }
  }

  &__contents {
    margin-bottom: 24px;
  }

  &__lead {
    margin-bottom: 2px;
  }

  &__text {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: v.$lightgray;
    font-size: 16px;

  }

  &__learnings {

    @include m.mq(sp) {
      margin-bottom: 20px;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      width: 100%;
    }
  }

  &__textarea {
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 8px;
    background-color: v.$lightgray;
    resize: none;
  }

  &__button {
    padding: 12px 15%;

    @include m.mq(sp) {
      width: calc(100% - 40px);
    }
  }
}

//post--completion----------------------------------------------
.post--completion {
  display: none;
  // display: flex;
  height: 416px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include m.mq(sp) {
    height: calc(100vh - 76px);
  }

  &__lead {
    color: v.$green;
  }

  &__icon {
    margin: 8px 0 16px;
    font-size: 72px;
    color: v.$green;

    & i {
      font-size: 72px;
    }
  }

  &__text {
    width: 100%;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;

    @include m.mq(sp) {
      font-size: 12px;
    }
  }
}

// checkbox__twitter-------------------------------------------
.checkbox__twitter {
  background-color: v.$white;

  &__text {

    &::before {
      width: 24px;
      height: 24px;
    }

    &::after {
      top: 4px;
      left: 8px;
      width: 6px;
      height: 12px;
    }
  }
}