@import "../global/variables";
@import "../global/mixin";

.about__learnings {
    padding: 20px;
    width: calc(50% - 50px);
    border-radius: 16px;
    background-color: $white;
    box-shadow: $box-shadow;

    @include mq(tb) {
        padding: 10px;
    }

    @include mq(sp) {
        padding: 10px;
        width: calc(50% - 28px);
    }

    &__title {
        @include mq(sp) {
            font-size: 0.9rem;
            line-height: normal;
            letter-spacing: normal;
        }
    }
}
