$white: #fff;
$black: #333;
$lightgray: #f1f1f1;
$gray: #f5f5f8;
$darkgray: #666666;
$lightblue: #97b9d1;
$blue: #0f71bc;

$btn-color: linear-gradient(to left,#3ccfff, $blue);
$box-shadow: 0px 3px 3px 3px rgba(173, 216, 230, 0.3);
$checkbox-bg: #cccccc;