// 汎用カラー
$black: #333333;
$white: #fff;
$dark-gray: #666666;
$gray: #adadad;
$light-gray: #eeeeee;
$blue: #0071bc;
$red: #e34e70;
$light-blue: #f6f6f6;

// 固有カラー
$contact-bg-color: rgba(0, 113, 188, 0.9);
$banner-color: #5fdf5b;
$line-radial-gradient: radial-gradient($white 60%, rgba(255, 255, 255, 0) 40%);
$correct-color: #fff2f5;
$wrong-color: #eff2f5;
$triangle-color: #333333;