@use "../global/variables" as v;

body {
  background-color: v.$lightgray;
  height: 100vh;
}

// button----------------------------------------------------
.button {
  line-height: 1rem;
  border-radius: 20px;
  border: none;
  color: v.$white;
  background: v.$btn-color;
  box-shadow: v.$box-shadow;
}

// main------------------------------------------------------
.main {
  display: flex;
  margin: 0 auto;
  padding: 20px 20px;
  gap: 20px;
  max-width: 1200px;
  justify-content: center;

  &__left {
    max-width: 600px;
    width: 50%;
  }

  &__right {
    display: flex;
    gap: 20px;
    max-width: 600px;
    width: 50%;
  }
}

// checkbox----------------------------------------------
.checkbox {
  display: block;
  padding: 8px 12px;
  cursor: pointer;
  background-color: v.$lightgray;
  border-radius: 30px;

  &__input {
    display: none;
  }

  &__text {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      margin-right: 4px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: v.$gray;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: 5px;
      width: 4px;
      height: 8px;
      border-right: 2px solid v.$white;
      border-bottom: 2px solid v.$white;
      transform: rotate(45deg);
    }
  }

  &__input:checked + &__text::before {
    background-color: v.$blue;
  }
}