body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 auto;
  height: 100%;
}

p h1 h2 h3 h4 h5 h6 ul li {
  margin: 0;
  padding: 0;
}

small {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.header {
  position: fixed;
  width: 100vw;
  background-color: #fff;
  height: 80px;
  z-index: 100;
}

.header-inner {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  width: 308px;
  margin: 0;
}

.navbar a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}

.nav-items {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.sns {
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  border-radius: 50%;
}

.sns a {
  line-height: 37px;
}

.sns img {
  vertical-align: bottom;
}

/* main-------------------------------------------------------------- */

.main {
  width: 100%;
  padding-top: 80px;
  margin: 0 auto;
}

/* hero-wrapper----------------------------------------- */

.hero-wrapper {
  width: 100%;
  height: 320px;
}

.hero-inner {
  width: 100%;
  height: 100%;
  background-image: url("../img/quiz/bg-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-text {
  width: auto;
  height: auto;
  padding-top: 110px;
  padding-left: 14%;
}

.hero-text p {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
}

.hero-text h1 {
  margin: 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
}

/* quiz-wrapper--------------------------------------- */

.quiz-wrapper {
  margin: 0px auto 140px auto;
  padding: 0 24px;
  max-width: 984px;
}

.quiz {
  padding-top: 120px;
}

.question-number {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: inline-block;
  margin: 0;
  margin-bottom: 24px;
  padding: 8px 16px;
  padding-right: 12px;
  font-size: 36px;
  letter-spacing: 6px;
  line-height: 54px;border-radius: 8px;
  color: #fff;
  background-color: #0071bc;
}

.question-text {
  margin: 0%;
  font-size: 36px;
  line-height: 54px;
  font-weight: bold;
}

.question-img {
  margin: 64px auto 0 auto;
  max-width: 1080px;
  height: 360px;
}

.question-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.answer-wrapper {
  margin-top: 63px;
}

.answer-icon {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 54px;border-radius: 8px;
  color: #fff;
  background-color: #e34e70;
}

.answer-buttons {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.answer-button {
  padding: 18px;
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 272px;
  width: 100%;
  border: solid 5px #eeeeee;
  border-radius: 8px;
}

.answer-button:hover {
  cursor: pointer;
}

.answer-button button {
  border: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  background-color: #fff;
}

.answer-button::after {
  content: " ";
  display: inline-block;
  width: 12px;
  height: 13px;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  border-radius: 1px;
  background-color: #333333;
}

.quote-wrapper {
  padding: 24px;
  background-color: #f6f6f6;
  border-radius: 8px;
}

.quote-icon {
  display: inline-block;
  margin-right: 15px;
  width: 25px;
}

.quote-icon img {
  width: 100%;
}

.quote-text {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
}


/* footer----------------------------------------- */

.footer {
  margin-top: 80px;
  text-align: center;
}

.footer-top {
  padding: 56px 0 48px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.footer-img {
  height: 39px;
  margin-bottom: 24px;
}

.footer-img img {
  width: 100%;
  height: 100%;
}

.official-link a {
  font-size: 14px;
  text-decoration: none;
  color: #666;
}

.official-link img {
  width: 12.5px;
  height: 12.5px;
  margin-left: 5px;
}

.footer-top .sns-items {
  width: 110px;
  margin: 32px auto 0 auto;
  padding: 0%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  list-style: none;
}

.footer-bottom {
  margin: 30px 0 30px 0;
}

.footer-bottom small {
  font-size: 10px;
  color: #666;
  letter-spacing: 1px;
}

/* line-wrapper------------------------------------------- */
.line-wrapper {
  padding: 0 24px;
}

.line-inner {
  text-align: center;
  margin: 0 auto;
  position: relative;
  max-width: 984px;
  border-radius: 48px;
  background-image: url("../img/bg-line.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.line-inner::before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 100%;
  height: 100%;
  border-radius: 48px;
  background-color: rgba(0, 113, 188, 0.9);
}

.line-content {
  position: relative;
  color: #fff;
  padding: 70px 0;
}

.line-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: radial-gradient(#fff 60%, rgba(255, 255, 255, 0) 40%);
}

.line-title h1 {
  font-size: 36px;
  margin: 0;
  margin-left: 10px;
}

.line-content p {
  margin: 24px 0;
  font-size: 14px;
  line-height: 22.4px;
  letter-spacing: 1.5px;
}

.line-button {
  margin: 0 auto;
  padding: 12px 0;
  max-width: 320px;
  border-radius: 98px;
  background-color: #fff;
}

.line-button a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  position: relative;
}

.line-button p {
  margin: 0;
  display: inline-block;
}

.line-button img {
  position: absolute;
  display: inline-block;
  width: 12.5px;
  height: 12.5px;
  right: 20px;
  top: 6px;
}

